<p id="notice"><%= notice %></p>

<p>
  <strong>Categories:</strong>
  <%= @question.category.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @question.name %>
</p>

<p>
  <strong>Right answer:</strong>
  <%= @question.right_answer %>
</p>

<%= link_to 'Edit', edit_game_category_question_path(@question) %> |
<%= link_to 'Back', game_category_path(@question.category) %>
