<p id="notice"><%= notice %></p>

<h1>
  <strong>Game Name:</strong>
  <%= @game.name %>
</h1>


<% if @has_created_category %> 
<p> You've created your category. Add questions!</p>
<div> Other player's categories: 
<ul>
<% @categories.each do |c| %> 
  <li> <%= link_to c.name, category_path(c) %></li>
<% end %> 
</ul>

<% else %> 
<%= link_to("Create your Category", new_game_category_path(@game, category: { game_id: @game.id, user_id: @user_id } )) %> 
<% end %> 





<div> Members: 
<ul>
<% @members.each do |m| %> 
  <li> <%= m %></li>
<% end %> 
</ul>



</div>
<%= link_to("Join", game_user_games_path(@game, user_game: { game_id: @game.id, user_id: @user_id } ), method: :post) unless @has_joined %> 

<%= link_to("Sign Out", destroy_user_session_path(), method: :delete)  %> 
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
