<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <%= @category.users_id %>
</p>

<p>
  <strong>Games:</strong>
  <%= @category.games_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
